<section class="eatme">
    <h2>Ready to monch</h2>

    {{#each burgers}}
        {{#unless isEaten}}
            <article class='burgers'>
                <h2>{{this.burgerName}}</h2>
                <button class='btn' data-id='{{this.id}}'>Eat me, bitch</button>
            </article>
        {{/unless}}
    {{/each}}
</section>

<section class="ateme">
    <h2>Monched</h2>

    {{#each burgers}}
        {{#if isEaten}}
            <article class='burgers'>
                <h2>{{this.burgerName}}</h2>
                <button class='btn' data-id='{{this.id}}'>Eat me, bitch</button>
            </article>
        {{/if}}
    {{/each}}
</section>