<section class="eatme">
    <h2 class="text">Ready to monch</h2>

    {{#each burgers}}
        {{#unless isEaten}}
            <article class='burgers'>
                <h2>{{this.burgerName}}</h2>
                <button class='btn' data-id='{{this.id}}'>Eat me</button>
            </article>
        {{/unless}}
    {{/each}}
</section>

<section class="ateme">
    <h2 class="text">Monched</h2>

    {{#each burgers}}
        {{#if isEaten}}
            <article class='burgers'>
                <h2>{{this.burgerName}}</h2>
                <button class='btn' data-eat='eaten' data-id='{{this.id}}'>Delete me</button>
            </article>
        {{/if}}
    {{/each}}
</section>