body {
    background-color: #f6c9f7;
}

/* Settings for Each Container */
.sect {
    display: flex;
    /* height: 150px; */
    margin: 0 80px 0 80px;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
}

@media only screen and (max-width: 760px) {
    .sect {
        display: flex;
        margin: 0 0px 0 0px;
        padding-top: 2%;
        padding-bottom: 2%;
        justify-content: center;
    }
}

/* Constrain */
.img {
    height: auto;
    width: 80px;
}

/* Color For Each Section */
.head {
    background-color: #ffd412;
}

.title {
    background-color: #88ff43;
}

.desc {
    background-color: #eb645a;
    padding: 0 15% 0 15%;
}

.burg {
    background-color: #a36c53;
    padding: 0 15% 0 15%;
}

.create {
    background-color: #f2ef51;
}



.text {
    color: #ff4c16;
    -webkit-text-stroke: 0.5px black;
    /* font-size: 120%; */
}

/* .btn {
    height: 20%;
    /* margin-top: 15%;
    margin-left: 20%;
} */

/* Ind. Burg Style */
.eatme { 
    padding: 0 18% 0 18%;
}

.ateme { 
    padding: 0 18% 0 18%;
}

.burgers {
    border-style: solid;
    margin-bottom: 8%;
    width: 120%;
    /* display: flex; */
    /* justify-content: flex-start;  */
}